@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', 'Nunito', sans-serif;
  background-color: white;
}

.app-container {
  display: flex;
  height: 100vh;
  gap: 10px;
  overflow: hidden;
}

.main-content {
  flex: 1;
  display: flex;
}

@media screen and (max-width: 1024px) {
  .main-content {
    flex-direction: column;
    overflow: auto;
  }  
}

@media screen and (max-width: 768px) {
  .app-container {
    flex-direction: column;
  }

  .main-content {
    flex-direction: column;
    padding: 16px;
    overflow: auto;
  }
}
